.col-sm-1
.col-sm-10
  .well
    .row
      #monster-selector
        .col-sm-3
        .col-sm-6
          %input.form-control.typeahead{type: 'text', placeholder: "Enter Monster"}
        .col-sm-3
    #drop-list.row
.col-sm-1
