.col-sm-1
.col-sm-10
  .well
    .row.monster-selector-row
      #monster_selector
        .col-sm-3
        .col-sm-6
          %input.form-control.typeahead{type: 'text', placeholder: "Enter Monster"}
        .col-sm-3
    .row.items-chooser
      #item_list
      #drop_list
    .row
      #btn-go.btn.btn-raised.btn-action.disabled
        Calculate
    #notifications_area.row{hidden: true, style: 'padding-top: 10px;'}
    .row
      #drop_chart
.col-sm-1
