@import bootstrap-sprockets
@import bootstrap

$transition-duration: 0.3s
@mixin transition($property)
  transition: $property $transition-duration
  -moz-transition: $property $transition-duration
  -webkit-transition: $property $transition-duration

.monster-selector-row
  margin-bottom: 20px

.subheader
  text-align: center
  padding-bottom: 3px
  margin-bottom: 20px
  border-bottom-style: solid
  border-bottom-width: 1px
  border-bottom-color: #999
  margin-left: 15%
  margin-right: 15%
  font-weight: 700

.navbar-brand
  text-decoration: none

.tt-hint.tt-input
  width: 396px
  height: 46px
  padding: 10px 16px
  font-size: 32px
  line-height: 46px
  border: 2px solid #ccc
  border-radius: 8px
  outline: none

.tt-input
  text-align: center
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color: #999

.tt-dropdown-menu
  width: 422px
  margin-top: 12px
  padding: 8px 0
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,0.2)
  border-radius: 8px
  box-shadow: 0 5px 10px rgba(0,0,0,0.2)

.tt-suggestion
  padding: 3px 20px
  font-size: 18px
  line-height: 24px

.tt-suggestion.tt-cursor
  padding: 10px 16px
  color: #fff
  background-color: #0097cf

.tt-suggestion p
  margin: 0

.twitter-typeahead
  display: block !important

input.number-input
  width: 75px
  text-align: left
  padding-left: 33px !important


input[type=checkbox]
  vertical-align: text-top
  margin-right: 7px

table.fixed
  table-layout: fixed
  td
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.row
  padding-bottom: 10px

@media screen and (min-width: 768px)
  .right-bordered
    border-right: #ddd 1px solid
    margin-right: -1px
  .left-bordered
    border-left: #ddd 1px solid

#drop_list
  display: inline
  .display: inline
  label
    font-weight: bold

  .text-holder
    text-overflow: ellipsis
    white-space: nowrap
    display: inline-block
    vertical-align: middle
  .drop-data-container
    margin-bottom: 10px
    width: 90%
    margin-left: auto
    margin-right: auto
  .drop-data-header
    margin-left: auto
    margin-right: auto
    height: 40px
    line-height: 24px
    cursor: pointer
    padding: 6px 13px
    border-radius: 3px
    border-width: 1px
    border-style: solid
    background-color: #eee
    border-color: #ccc
    .number-input
      height: 24px
      line-height: 24px
      margin-left: 10px
      display: inline-block
      background-color: #eee
  .part-group-expander
    max-height: 0px
    overflow: hidden
    padding-left: 10px
    +transition(max-height)

  .drop-expand-btn
    padding-left: 0px
    cursor: pointer
    display: inline-block

  .glyphicon-triangle-right
    float: right
    margin-top: 6px
    transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    +transition(transform)
    +transition(-ms-transform)
    +transition(-webkit-transform)

#btn-go
  display: table
  margin: 0px auto


#item_list
  display: inline
  .form-group
    margin-left: auto
    margin-right: auto
    width: 200px
  .number-input
    display: inline-block
  .control-label
    text-align: left
    font-weight: normal
    max-width: 100px
    white-space: nowrap

#drop_chart
  .spinner
    position: relative !important
    top: 100px !important
  .grid
    line
      stroke: black
      stroke-width: 1px
      opacity: 0.15
  .axis
    path
      fill: none
      stroke: black
      stroke-width: 1px
