%footer.footer
  Copyright 2015 David Winings. Data gratefully used with permission from the
  %a{href: "https://play.google.com/store/apps/details?id=com.daviancorp.android.mh4udatabase"} MH Database.
