%footer.footer
  Copyright 2016 David Winings. Data gratefully used with permission from the
  %a{href: "https://play.google.com/store/apps/details?id=com.ghstudios.android.mhgendatabase"} MH Database.
