%nav.navbar.navbar-material-indigo.shadow-z-2
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: '#'}
        Desire Sensor - Monster Hunter Odds Calculator
    .navbar-collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            = current_set_name
            %b.caret
          %ul.dropdown-menu
            - sets.each do |set|
              %li
                %a{href: "/monster_set/#{set[:url]}", data: {no: {turbolink: ''}}}
                  = set[:name]

